body { width:100%; height:100%; margin:0px; }
@media only screen and (orientation:landscape){
  .thumbnail{max-height:400px;}
}
@media only screen and (orientation:portrait){
  .thumbnail{max-width:90%;}
}

.tdhop { position:relative; width:100%; height:100%; margin-top:40px;}
#tdhlg { position:absolute; right:2; bottom:2; width:125px; height:13px; overflow:hidden; cursor:pointer; color:#909090; text-align:center; text-decoration:none; font-family:verdana; font-style:italic; font-size:10px; line-height:13px;}
#toolbar { position:absolute; top:0; right: 0; padding: 10px; background: rgba(0,0,0,.7); border: 1px solid #000; border-radius: 5px 0 0 5px; }
#toolbar img {display:block; margin-bottom:8px; width:50px; height:50px; opacity:0.5; cursor:pointer;}
.output-box { position:absolute; display:none; border-radius:5px; margin:0; height:48px; padding:0px 5px 2px 5px; cursor:default; background-color:rgba(125,125,125,0.5); color:#f8f8f8; text-decoration:none; text-align:center; font-family:verdana; font-style:italic; font-size:12px; line-height:20px;}
.output-text { padding:0px 5px 0px 5px; cursor:text;}
.output-input { vertical-align:middle; cursor:pointer; height:15px;}
.output-table { margin:0; width:100%; color:#f8f8f8; text-align:center; font-style:italic; font-size:12px; line-height:15px;}
.output-table img { height:25px; cursor:pointer; background-color:rgba(125,125,125,0.25); border:1px outset; border-radius:5px; }
.output-table img:hover { background-color:rgba(125,125,125,0.8); }
.output-box hr {  margin:0 0 3px 0; border:0; height:1px; background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.75), rgba(0, 0, 0, 0)); }
#draw-canvas { width:100%; height:100%; background-repeat:no-repeat; background-position:center top; -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; outline:none;}
#cover{display:none; position:absolute; z-index:2001; width:100%; top:40px; left:0; bottom:0; padding:20px; background-color:rgba(50, 50, 50, 0.4);}
#loghi{width:100%; bottom:10; left:0; position:absolute;}
.panel {width:95%; font-size:80%; font-family:verdana; font-style:italic; color:#f8f8f8; text-align:center; background-color:rgba(50, 50, 50, 0.75); border:1px solid gray; border-radius:10px; box-shadow:1px 1px 10px #f8f8f8; -webkit-box-shadow:1px 1px 10px #f8f8f8; -moz-box-shadow:1px 1px 10px #f8f8f8; cursor:default; text-decoration:none;}
.close { position:relative; margin-left:99.5%; margin-top:-25px; width:25px; height:25px; background-color:rgba(50, 50, 50, 1.0); border:1px solid gray; border-radius:50%; box-shadow:1px -1px 10px #f8f8f8; -webkit-box-shadow:1px -1px 10px #f8f8f8; -moz-box-shadow:1px -1px 10px #f8f8f8;}
.close:hover {cursor:pointer;}
a:link, a:visited {text-decoration:none; font-weight:bold; color:#AEB404;}
a:hover {text-decoration:none; font-weight:bold;color:#D7DF01;}
#toolbar img {width:40px; height:40px;}
#draw-canvas {
  background-image: -ms-radial-gradient(center, circle closest-side, #C94727 0%, #450005 100%);
  background-image: -moz-radial-gradient(center, circle closest-side, #C94727 0%, #450005 100%);
  background-image: -o-radial-gradient(center, circle closest-side, #C94727 0%, #450005 100%);
  background-image: -webkit-gradient(radial, center center,center center,color-stop(#C94727),color-stop(#450005));
  background-image: -webkit-radial-gradient(center, circle closest-side, #C94727 0%, #450005 100%);
  background-image: radial-gradient(circle closest-side at center, #C94727 0%, #450005 100%);
}
